/* Arka plan resmi */
.background-image {
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    width: 200px;
}

.plus-icon-color{
    color: red;
    width: 200px;
    height: 200px;
}
/* + simgesi */
.plus-icon {
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Mouse üzerine gelindiğinde */
.background-image:hover .plus-icon {
    opacity: 1;
}

/* Mouse üzerine gelindiğinde arka plan resmi */
.background-image:hover {
    filter: brightness(70%);
}