@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.btn-primary{
@apply text-white px-[1.875rem] py-[0.5rem]
rounded-3xl bg-primary cursor-pointer hover:opacity-70 disabled:opacity-50 disabled:cursor-not-allowed;
}
.slick-dots {
  @apply !flex justify-start w-full m-0;
}

.slick-dots .slick-active div {
  @apply !bg-primary scale-[1.6] border-primary ;
}

.slick-dots div {
  @apply !m-5 !mt-8;
}